<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.importantnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="iiNews"
        android:roundIcon="@drawable/cirkle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Classes.About"></activity>
        <activity android:name=".Classes.SecondActivity" />
        <activity android:name=".Classes.FirstActivity"></activity>
        <activity android:name=".Classes.Detailed" />
        <activity android:name=".Classes.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Classes.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>